// ==================== BOTONES ====================

// Botón base
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    border: 1px solid $verde;
    padding: 0.65rem 2.5rem;
    background: $verde;
    border-radius: 30px;
    span {
        @include font-boton;
    }
}
