// ==================== RESET MODERNO (2026) ====================
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

picture {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
input,
button,
textarea,
select {
    font: inherit;
}
img,
picture {
    border: none;
    outline: none;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
select {
    border: 0;
    transition: all 0.25s ease;
    font-size: 16px;

    &:focus {
        outline: none;
        border-color: transparent; // Verde Brana
        box-shadow: none;
    }
}
